absl-py==2.1.0
accelerate==1.0.1
adapter-transformers==4.0.0
adapters==1.0.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-timeout==5.0.1
atari-py==0.2.9
attrs==23.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
beautifulsoup4==4.13.4
bleach==6.1.0
Box2D==2.3.10
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==1.6.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy==1.1.1
cryptography==42.0.8
cycler==0.12.1
datasets==3.1.0
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
dm-acme==0.2.4
dm-env==1.6
dm-tree==0.1.8
docopt==0.6.2
dopamine-rl==3.0.1
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
factories==1.2.0
fairlearn==0.12.0
fastjsonschema==2.21.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.50.0
frozenlist==1.5.0
fsspec==2024.3.1
gast==0.4.0
geomloss==0.2.6
gin-config==0.5.0
google-auth==2.28.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.68.1
gym==0.19.0
gym-notices==0.0.8
h5py==3.1.0
huggingface-hub==0.24.5
idna==3.6
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1709821103657/work
importlib_resources==6.3.1
ipykernel @ file:///D:/bld/ipykernel_1708996677248/work
ipython==8.12.3
jax==0.4.13
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.3
joblib==1.3.2
josepy==1.14.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1710255804825/work
jupyter_core @ file:///D:/bld/jupyter_core_1669775263822/work
jupyterlab_pygments==0.3.0
keras==2.12.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune==3.1.3
ml-dtypes==0.2.0
monty==2023.9.25
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==1.8.1
nltk==3.9.1
numpy==1.24.4
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==2.0.3
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
patsy==0.5.6
peft==0.13.2
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.2.0
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
propcache==0.2.0
protobuf==3.20.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==17.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.22
pygame==2.5.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyproject==1.3.1
pyRFC3339==1.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz==2024.1
pywin32==227
PyYAML==6.0.2
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
qute==3.0.11
recsim==0.2.4
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==1.4.0
reverb==2.0.1
rpds-py==0.20.1
rsa==4.9
safetensors==0.4.4
scikit-learn==1.3.2
scipy==1.10.1
scribble==1.0.0
seaborn==0.13.2
sentence-transformers==3.1.1
sentencepiece==0.2.0
simplejson==3.19.2
six==1.15.0
soupsieve==2.7
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.1
sympy==1.12
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.3.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==1.1.0
tf-keras==2.15.0
threadpoolctl==3.3.0
tinycss2==1.2.1
tokenizers==0.20.3
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tornado @ file:///D:/bld/tornado_1656937958156/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1710254411456/work
transformers==4.45.2
trfl==1.2.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.12.1
xxhash==3.5.0
yarg==0.1.9
yarl==1.15.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
